*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: black;
  overflow-y: auto;
}

/* UTILITY */

.container{
  width: 98%;
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 80px;

}
/* .debug{
  background-color: rgba(233, 159, 159, 0.5);
  border: 1px solid black;

} */
.d-flex{
  display: flex;
}

.relative{
  position: relative;
}

li {
  cursor: pointer;
  color: white;
}


 





/* HEADER  */

header{
  width: 100%;
  height: 80px;
  background-color: black;
  justify-content: flex-end;
  position: fixed;
  z-index: 999;
  top: 0;
}

header button{
  background-color: #4A4A4A;
  color: white;
  padding: 2px 3px;
  border-radius: 5px;
  cursor: pointer;
}



/* MAIN  */

main{
  height: calc(100vh - 230px);
}


.row{
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
}

.col{
  width: calc(100% / 7);
  height: calc(100% / 5);
  flex-wrap: wrap;
  min-width: 214px;
}


.pinco{
  background-color: rgba(0, 0, 0, .4);
  padding: 5px;
  color: white;
  position: absolute;
  left: 0;
  bottom: 0;
}





/* FOOTER  */

footer{
  width: 100%;
  height: 80px;
  margin-top: 30px;
  background-color: #222222;
  justify-content: space-between;
  position: fixed;
  z-index: 999;
  bottom: 0;
}

.media {
  width: 400px;
  height: 80px;
  display: inline-block;
}

.media ul {
  list-style: none;
  margin-top: 10px;
  margin-left: 20px;
}

.media ul li {
  margin-right: 30px;
  font-size: 30px;
}

.media ul li:nth-child(2){
  font-size: 15px;
}
.media ul li:nth-child(4){
  font-size: 15px;
}


.menu-center {
  width: 700px;
  height: 80px;
  display: inline-block;
}

.menu-center ul {
  list-style: none;
  margin-top: 10px;
}
.menu-center ul li {
  margin-right: 40px;
  font-size: 30px;
}

.menu-center ul li:nth-child(4) {
  color: green;
}


.menu-center ul li:nth-child(5){
  font-size: 15px;
}

.end {
  width: 120px;
  height: 80px;
  display: inline-block;
  text-align: center;
  line-height: 80px;
  color: red;

}
